        .quadrado {
            width: 40px;
            height: 80px;
            background-image: url('src/img/mario.png');
            background-size: 240px 40px;
            background-position: 0px 0px;
            background-repeat: no-repeat;
            position: absolute;
            top: 160px;
            left: 380px;
            transition: top 0.05s linear, left 0.05s linear;
            z-index: 10;
        }


        .cenario {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('src/img/bg-1-1-a.png');
            background-size: 750%;
            background-position: top left;
            background-repeat: repeat-x;
            z-index: 1;
        }